__pycache__
*.egg-info
build
.DS_STORE
comfyui/
ComfyUI/
cuda_temp

# VS Code settings
.vscode/
*.code-workspace
launch.json

# Environment files
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

nodes/web/static/*
