__pycache__
*.egg-info
build
.DS_STORE
comfyui*
ComfyUI*
src/comfystream/scripts/build_trt/__pycache__

# VS Code settings
.vscode/
*.code-workspace
launch.json

# Environment files
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production